/*responsive design */
/*large devices only */
@media (min-width: 1200px) {


}

/*medium devices only */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-collapse.collapse {
     display: none !important;
 }
 .navbar-collapse.collapse.in {
     display: block !important;
 }
 .navbar-header .collapse, .navbar-toggle {
     display:block !important;
 }
 .navbar-header {
     float:none;
 }
 .navbar {
   overflow: hidden;
   position: fixed !important; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}
}


/*small devices only*/
@media (max-width: 991px) and (min-width:768px) {
  .navbar-collapse.collapse {
     display: none !important;
 }
 .navbar-collapse.collapse.in {
     display: block !important;
 }
 .navbar-header .collapse, .navbar-toggle {
     display:block !important;
 }
 .navbar-header {
     float:none;
 }
 .navbar {
   overflow: hidden;
   position: fixed !important; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}

.category {
  width: 700px;
}

#img_description {
  padding: 10px 40px !important;
  font-size: 0.6em;
}
#tree {
  margin: auto !important;
  width: 100%;
}

h1 {
  font-size: 40px !important;
}

header h2{
  font-size: 20px !important;
}


}

/********** Extra small devices only **********/
@media (max-width: 767px) and (min-width:321px){
  h2{
    font-size: 18px !important;
  }
  .navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
#img_description {
  padding: 5px 90px !important;
  font-size: 0.5em;

}
#tree {
  width: 70% !important;
  margin: 0 20px !important;
}

.category {
  width: 320px;
}

.category li {
display: inline-block;
text-decoration: none;
text-align: center;
text-shadow: 2px 1px black;
font-size: 2em;
font-weight: bold;
height: 240px;
width: 300px !important;
margin: 10px !important;
}

.container {
  margin: 0 !important;
}

}

@media (max-width: 320px) {

  .category li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 1px black;
  font-size: 2em;
  font-weight: bold;
  height: 240px;
  width: 260px !important;
  margin: 15px !important;
  }

  .category {
    width: 290px;
  }

  h2{
    font-size: 15px !important;
  }

  header h1 {
    font-size: 30px !important;
  }

  #img_description {
    padding: 5px 90px !important;
    font-size: 0.5em;

  }
  #tree {
    width: 70% !important;
    margin: 0 20px !important;
  }
}


/*regular css*/
body{
  background: #fbfbfb;
}


.category li {
display: inline-block;
text-decoration: none;
text-align: center;
text-shadow: 2px 1px black;
font-size: 2em;
font-weight: bold;
height: 240px;
width: 320px;
margin: 15px;
}

.category li:hover {
opacity: 0.9;
}



a {
  color: floralwhite;
}

.category span {
  position:relative;
  top:180px;
}


a:hover{
  color: floralwhite;
  text-decoration: none;
  font-size: 1.1em;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.jumbotron {
  margin:0 auto;
  /*padding: 50px 0 10px;*/
  background: #ece5dc;
  color: #123629;
}

.row-footer {
  margin-bottom: 0;
  margin-top: 40px;
  padding: 20px 0px;
  background-color: #AfAfAf;
}

.row-content {
  margin: auto;
  padding: 20px 0px;
}

.news {
  box-shadow: 1px 1px 5px grey;
  width: 70%;
}

#contactForm {
width:60%;
margin: auto;

}

#goalEntry, #toolEntry, #garageEntry, #giveawayEntry, #kidsEntry, #laborEntry, #petsEntry, #recipeEntry {
  width: 90%;
}


#img_description {
  position: absolute;
  bottom:0px;
  background-color: #ece5dc;
  height: 50px;
  width: auto;
  margin: 0;
  padding:0 60px;

}
#tree {
  padding: 0 0 20px 60px ;

}
.page-header {
  border-bottom: none;
  text-align: center;
}

.page-header h2 {
  margin-bottom: 30px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 40px;
  color:#6b3f26;
}

/*._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background:red;
  color:white;
}*/

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open >a {
  background-color: #6b3f26;
  color: white;
}

.news h3 {
  margin-top: 0;
  text-align: left;
  font-weight: bold;

}

h4 {
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  color:#6b3f26;
}



h1 {
  font-family: 'Kalam', serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}



h2, h3 {
  font-family: 'Josefin Slab', serif;

}

.links {
  text-decoration: none;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;


}
.links a {

  text-decoration: none;
  color: black;

}

.links a:hover {
  color: grey;
}

.email, p {
  text-decoration: none;
  font-family: "verdana";
  color: black;
  font-size: 0.9em;
}

.email:hover {
  color: grey;
}
