<div class="page-header">
  <h2>
    Popular Community links
  </h2>
</div>
<div class="row row-content">
   <ul class="links col-xs-12 col-sm-offset-3 col-xs-offset-1">
     <li>
       <a href="https://www.bloomingtonmn.gov/" target="_blank">City Of Bloomington</a>
     </li>
     <li>
       <a href="https://www.bloomington.k12.mn.us/" target="_blank">Bloomington Public School</a>
     </li>
     <li>
       <a href="https://www.threeriversparks.org/location/hyland-lake-park-reserve" target="_blank">Hyland Lake Park Reserve</a>
     </li>
     <li>
       <a href="https://www.threeriversparks.org/location/richardson-nature-center" target="_blank">Richardson Nature Center</a>
     </li>
     <li>
       <a href="https://www.bloomingtonmn.gov/facilities/bloomington-ice-garden" target="_blank">Bloomington Ice Garden</a>
     </li>
     <li>
       <a href="https://www.mallofamerica.com/" target="_blank" >Mall of America</a>
     </li>
   </ul>
</div>
